* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------HEADER STYLE------------------------------- */

#head {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.7vh 2.7vh;
}

.menu-burger {
    position: relative;
    width: 5.4vh;
    height: 4.3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger span {
    position: absolute;
    width: 100%;
    height: 0.9vh;
    background-color: #44B491;
    border-radius: 0.4vh;
}

.menu-burger span:nth-child(1) {
    top: 0;
    left: 50%;
}
.menu-burger span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.menu-burger span:nth-child(3) {
    bottom: 0;
    left: 50%;
}

#logo img {
    display: flex;
    justify-content: center;
    width: 20.2vh;
    height: auto;
}

.navbar {
    display: none;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.7vh;
}

#login img {
    width: 4.8vh;
    height: auto;
}

/* ----------------------------SECTION PAGE_HEADER------------------------------- */

.page_header{
    display: none;
}

/* ----------------------------SECTION PART1------------------------------- */

.part1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F2F2F2;
}

.part1 img{
    width: 100%;
    border-radius: 1rem;
}

.part1 img.guli {
    border-radius: 0;
}

.part1 div:first-child{
    padding: 0;
}

.part1 div{
    padding: 2rem;
}

.part1 h2{
    color: #44B491;
    font-family: 'Poppins';
}

.part1 p{
    font-family: 'inter';
    font-size: 1rem;
}

/* ----------------------------SECTION PART2------------------------------- */

.part2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.part2 img{
    width: 100%;
    height: 20vh;
    border-radius: 1rem;
    object-fit: cover;
}

.part2 div{
    padding: 2rem;
}

.part2 h2{
    color: #44B491;
    font-family: 'Poppins';
}

.part2 p{
    font-family: 'inter';
    font-size: 1rem;
}

/* ----------------------------SECTION PART3------------------------------- */

.part3 {
    background-color: #F2F2F2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.part3 h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #0E447E;
    font-family: 'Bebas Neue';
}

.point {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 3rem; /* gap permet d'augmenter l'espacement entre les sous-titres */
}

.point-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
}

.title-with-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* dans ce cas là, gap permet de créer l'espace entre l'icône et mon sous-titres */
}

.puce_ok_bleu {
    flex-shrink: 0;
    width: 2.5rem;
}

h3 {
    color: #44B491;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Poppins';
}

p {
    margin: 0;
    text-align: justify;
    font-family: 'inter';
}

#letsgo {
    margin-top: 5.5vh;
    margin-bottom: 5.5vh;
    background-color: #44B491;
    border: 0.7vh solid #44B491;
    border-radius: 1.3vh;
    padding: 1vh 8vh;
}

#letsgo a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 4vh;
    font-weight: 700;
}



/* ----------------------------SECTION PUBLICITÉ------------------------------- */

.publicité{
    display: none;
}

/* ----------------------------SECTION FOOTER------------------------------- */

footer{
    display: none;
}