@media screen and (min-width: 1280px) {

    /* ----------------------------HEADER STYLE------------------------------- */
        body{
            margin-top: 0;
        }
    
        #head {
            background-color: #000000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 15.4vh;
            padding: 0 2vh;
        }
    
        #logo img {
            position: relative;
            left: 50%;
            width: 24.1vh;
            height: auto;
        }
        .navbar {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        .navbar li {
            margin-left: 3.2vh;
            border: 0.3vh solid #000000;
            border-radius: 0.54vh;
            padding: 0.54vh;
        }
        .navbar li:hover {
            border: 0.3vh solid #44B491;
            border-radius: 0.54vh;
            padding: 0.54vh;
        }
        .navbar a {
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 2vh;
            font-weight: 600;
            text-decoration: none;
            padding: 1.1vh 1.6vh;
        }
        .navbar a:hover {
            color: #44B491;
        }
    
        .menu-burger{
            display: none;
        }

/* ----------------------------SECTION PAGE_HEADER------------------------------- */

        .page_header{
            display: flex;
            justify-content: center;
            align-items: center;
            background: url(../image/contact/contact.jpg); /* image à changer */
            width: 100%;
            height: 20vh;
        }

        .page_header h1{
            font-size: 4.5rem;
            color: white;
            font-family: 'Bebas Neue';
        }


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
/* ----------------------------SECTION MISE EN PAGE DU FORMULAIRE------------------------------- */

.mise_en_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

/* ----------------------------SECTION TITRE DU FORMULAIRE------------------------------- */

        .intro{
            text-align: center;
            padding: 5rem 2.5rem;
        }
        
        .intro h1{
            font-family: 'Bebas Neue';
            font-size: 3.5rem;
            color: #0E447E;
        }
        
        .intro p{
            font-family: 'inter';
            font-size: 1.9rem;
            line-height: 1.5;
            padding-top: 1rem;
            color: #0E447E;
        }

/* ----------------------------SECTION CONTENU DU FORMULAIRE------------------------------- */

        .contact-form {
            width: 100%;
            max-width: 35rem;
            background: #f2f2f2;
            padding-bottom: 5rem;
        }
        
        .form-group {
            margin-bottom: 1.5rem;
        }
        
        .form-group label {
            display: block;
            font-size: 1.8rem;
            color: #0E447E;
            margin-bottom: 0.6rem;
            font-family: 'Poppins';
            font-weight:550;
        }
        
        .form-group input,
        .form-group select {
            width: 100%;
            padding: 0.7rem;
            font-size: 1.7rem;
            color: black;
            background: white;
            border: 0.1rem solid black;
            border-radius: 0.4rem;
            transition: border-color 0.3s;
        }
        
        /* ::placeholder permet de mettre un texte pour guider l'utilisateur, ce texte s'entlève lorsque l'utilisateur rempli le champs */
        .form-group input::placeholder{
            color: grey;
            font-family: 'inter';
            font-style: italic;
        }
        
        .form-group input:focus,
        .form-group select:focus {
            border: 0.1rem solid black;
        }
        
        .form-group select option{
            color: #0E447E;
            font-weight: 550;
            font-family: 'inter';
        }

        .form-group select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            /* les 3 attributs ci-dessus permet de supprimer le style du "select" webkit pour les navigateur et moz pour firefox */
            
            background-image: url("../image/pictrogramme/fleche_select.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1.5rem;
            padding-right: 3rem;

            /* Ensuite j'ai ajouté une image en background et replacé cette image, qui prendrait tout le champ si je ne l'avais pas personnalisé */
        }
        
        button {
            width: 100%;
            margin-top: 1.5rem;
            padding: 0.5rem;
            font-family: 'Poppins';
            font-size: 2.2rem;
            font-weight: 550;
            color: white;
            background: #44B491;
            border: 0.2rem solid #44B491 ;
            border-radius: 0.4rem;
            cursor: pointer;
            transition: background 0.3s;
        }
        
        button:hover {
            background: white;
            color: #44B491;
            font-family: 'Poppins';
        }

/* ----------------------------SECTION PUBLICITÉ------------------------------- */

    .publicité{
        display: block;
        position: relative;
        background-color:white ;
    }

    .pub{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom: none;
        position: absolute;
        left: 10%;
        top: -5%;
        background-color: white;
        padding: 7px 10px 0px 10px;
    }

    .pub p{
        font-family: 'inter';
        font-size: 1.5rem;
        font-weight: 600;
        color: #44B491;
    }

    .pub_2{
        display: flex;
        justify-content: space-evenly;
    }

    .pub_2 img{
        width: 30%;
        height: auto;
        padding: 5%;
    }

    /* ----------------------------FOOTER STYLE------------------------------- */

    footer{
        background-color: #44B491;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
    }

    footer p {
        font-family: 'inter';
    }

    .navbar_foot {
        justify-content: space-evenly;
        border-left: 3px solid white;
        padding-left: 1rem;
    }

    .navbar2_foot {
        border-left: 3px solid white;
        padding-left: 1rem;
    }

    .navbar_foot li, .navbar2_foot li{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-family: 'Poppins';
        color: white;
        font-weight: 700;
    }

    .navbar_foot li a, .navbar2_foot li a{
        text-decoration: none;
        color: white;
    }

    .picto img{
        width: 4rem;
        margin: 2px;
    }

    .coordonnees{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 650;
    }

    .logo_footer{
        color: white;
    }

    .logo_footer p{
        padding: 1rem;
    }
    }