* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------HEADER STYLE------------------------------- */

#head {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.7vh 2.7vh;
}

.menu-burger {
    position: relative;
    width: 5.4vh;
    height: 4.3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger span {
    position: absolute;
    width: 100%;
    height: 0.9vh;
    background-color: #44B491;
    border-radius: 0.4vh;
}

.menu-burger span:nth-child(1) {
    top: 0;
    left: 50%;
}
.menu-burger span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.menu-burger span:nth-child(3) {
    bottom: 0;
    left: 50%;
}

#logo img {
    display: flex;
    justify-content: center;
    width: 20.2vh;
    height: auto;
}

.navbar {
    display: none;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.7vh;
}

#login img {
    width: 4.8vh;
    height: auto;
}

/* ----------------------------SECTION PAGE_HEADER------------------------------- */

.page_header{
    display: none;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #555;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input::placeholder,
.form-group select option {
    color: #aaa;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #44B491;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background: #44B491;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #369e7a;
}

/* ----------------------------SECTION PUBLICITÉ------------------------------- */

.publicité{
    display: none;
}

/* ----------------------------SECTION FOOTER------------------------------- */

footer{
    display: none;
}