* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------HEADER STYLE------------------------------- */

#head {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.7vh 2.7vh;
}

.menu-burger {
    position: relative;
    width: 5.4vh;
    height: 4.3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger span {
    position: absolute;
    width: 100%;
    height: 0.9vh;
    background-color: #44B491;
    border-radius: 0.4vh;
}

.menu-burger span:nth-child(1) {
    top: 0;
    left: 50%;
}
.menu-burger span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.menu-burger span:nth-child(3) {
    bottom: 0;
    left: 50%;
}

#logo img {
    display: flex;
    justify-content: center;
    width: 20.2vh;
    height: auto;
}

.navbar {
    display: none;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.7vh;
}

#login img {
    width: 4.8vh;
    height: auto;
}

/* ----------------------------SECTION PAGE_HEADER------------------------------- */

.page_header{
    display: none;
}

/* ----------------------------MISE EN PAGE GENERALE------------------------------- */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

/* ----------------------------MISE EN PAGE ASIDE------------------------------- */

.menu {
    display: none;
}

/* ----------------------------MISE EN PAGE CENTRALE------------------------------- */

.profile-content {
    width: 100%;
    background-color: #f2f2f2;
}

.profile-content h2{
    font-family: 'Poppins';
    font-weight: 700;
    color: #44B491;
    font-size: 1.8rem;
}

.photo-section,
.info-section {
    background-color: #f2f2f2;
    padding: 2rem;
}

.photo-section{
    height: 20%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.photo-container {
    display: flex;
    text-align: center;
    margin: 1rem;
}

.photo {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
    border: 0.1rem solid grey;
    font-family: 'inter';
}

.photo-container input {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: 'inter';
}

.info-section .form-group {
    margin: 1rem;
}

.info-section label {
    font-family: 'Poppins';
    font-weight: bold;
    color: black;
    font-size: 1.1rem;
}

.info-section input {
    font-family: 'inter';
    font-size: 1rem;
    width: 100%;
    border: 0.1rem solid grey;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

/* sert a enlever l'oeil déjà existant dans microsoft edge lorsque je tape le mot de passe */
input[type="password"]::-ms-reveal {
    display: none;
}

.password-container{
    position: relative;
}

.password-container img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 2rem;
}

.modify-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #44b491;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 700;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: 1rem;
}

/* ----------------------------SECTION PUBLICITÉ------------------------------- */

.publicité{
    display: none;
}

/* ----------------------------SECTION FOOTER------------------------------- */

footer{
    display: none;
}