* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------HEADER STYLE------------------------------- */

#head {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.7vh 2.7vh;
}

.menu-burger {
    position: relative;
    width: 5.4vh;
    height: 4.3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger span {
    position: absolute;
    width: 100%;
    height: 0.9vh;
    background-color: #44B491;
    border-radius: 0.4vh;
}

.menu-burger span:nth-child(1) {
    top: 0;
    left: 50%;
}
.menu-burger span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.menu-burger span:nth-child(3) {
    bottom: 0;
    left: 50%;
}

#logo img {
    display: flex;
    justify-content: center;
    width: 20.2vh;
    height: auto;
}

.navbar {
    display: none;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.7vh;
}

#login img {
    width: 4.8vh;
    height: auto;
}

/* ----------------------------SECTION PAGE_HEADER------------------------------- */

.page_header{
    display: none;
}

/* ----------------------------SECTION FILTRE------------------------------- */


.section-filtre {
    background: #0E447E25;
    padding: 1.5rem;
  }
  
  .section-filtre h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #0E447E;
    margin-bottom: 1rem;
  }
  
  .filtres {
    background: transparent;
    padding: 1rem;
  }
  
  .filtre-group {
    margin-bottom: 1.5rem;
  }
  
  .filtre-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .filtre-header .icon {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .filtre-titre {
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 800;
    color: #44B491;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
  }
  
  .options label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    color: #0E447E;
  }
  
  .options input {
    width: 1rem;
    height: 1rem;
  }

  .filtre-group.coach {
    display: flex;
    flex-direction: row;
  }
  
  .filtre-group.coach select {
    width: 75%;
    max-width: 25rem;
    height: 2.2rem;
    margin-left: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Inter';
    border-radius: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../image/pictogramme/fleche_select.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    padding-right: 3rem;
    /* enlever la bordure par defaut du select */
    border: none;
    outline: none;
  }
  
  .valider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 15rem;
    background-color: #0E447E;
    color: white;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}
  
  /* ---------------------- SECTION SEANCE CARD ---------------------- */

  .card {
    background-color: #F2F2F2;
    padding: 2rem;
  }

  .seance-nutrition-card{
    background-color: #44B491;
    border-radius: 0.5rem;
  }
  
  .card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #44B491;
    color: white;
    padding: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .card-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 0.5rem;
  }
  
  .card-body img {
    width: 100%;
    object-fit: cover;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30%;
  }
  
  .infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #44B491;
    font-family: 'Poppins';
    margin: 5% 0;
  }
  
  .infos img {
    width: 3rem;
  }

  .description{
    display: none;
  }

.seance-nutrition-card .card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0.5rem;
    background: #0E447E;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem auto;
  }

  .seance-nutrition-card .card-btn a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
  }
  
  

  .page_nutrition_seance {
    display: none;
  }

/* ----------------------------SECTION PUBLICITÉ------------------------------- */

.publicité{
    display: none;
}

/* ----------------------------SECTION FOOTER------------------------------- */

footer{
    display: none;
}