* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------HEADER STYLE------------------------------- */

#head {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.7vh 2.7vh;
}

.menu-burger {
    position: relative;
    width: 5.4vh;
    height: 4.3vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger span {
    position: absolute;
    width: 100%;
    height: 0.9vh;
    background-color: #44B491;
    border-radius: 0.4vh;
}

.menu-burger span:nth-child(1) {
    top: 0;
    left: 50%;
}
.menu-burger span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}
.menu-burger span:nth-child(3) {
    bottom: 0;
    left: 50%;
}

#logo img {
    display: flex;
    justify-content: center;
    width: 20.2vh;
    height: auto;
}

.navbar {
    display: none;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.7vh;
}

#login img {
    width: 4.8vh;
    height: auto;
}

/* ----------------------------SECTION PAGE_HEADER------------------------------- */

.page_header{
    display: none;
}

/* ----------------------------SECTION CONFRIMATION DE SUPPRESION------------------------------- */

.delete-confirmation{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.delete-confirmation h1{
    font-family: 'Babes Neue';
    font-weight: 900;
    color: red;
    font-size: 2rem;
}

.delete-confirmation p:first-of-type{
    color: red;
    font-size: 1.5rem;
    font-weight: 500; 
}

.delete-confirmation p:last-of-type{
    color: #0E447E;
    font-size: 2rem;
}

.delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    border: 0.2rem solid #0E447E;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: red;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
}

.annuler{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    border: 0.2rem solid #0E447E;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: #44B491;
}

.annuler a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
}

/* ----------------------------SECTION FOOTER------------------------------- */

footer{
    display: none;
}